{% load static %}
{% load mathfilters %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>Cal.io Calorie Finder</title>
</head>

<body style="background-color: #ef7dcd;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center mb-5">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="img-responsive logo mb-3" style="width: 250px; height: auto;" /></a>
            </div>
        
            <!-- Food Calorie Search Form -->
            <div class="col-md-14">
                <div class="card mb-4" style="background-color: #ce0f88;">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family:'Times New Roman', Times, serif;">Food Calorie Finder</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" name="query" class="form-control"
                                    placeholder="Search for calories in your food..." value="{{ request.POST.query }}" required style="border-color: #fcacd9; background-color: #fcacd9;" />
                            </div>
                            <div class="mb-3">
                                <input type="number" name="serving_size" class="form-control"
                                    placeholder="Enter serving size in grams..." value="{{ request.POST.serving_size }}" required style="border-color: #fcacd9; background-color: #fcacd9;" />
                            </div>
                            <button class="btn btn-primary" type="submit" style = "border-color: #c2b3ef; background-color:#c2b3ef; color:black">Find Calories</button>
                        </form>

                        <!-- Display Food Information -->
                        {% if food %}
                        {% if food == "oops! There was an error" %}
                        <div class="alert alert-warning mt-3">Oh no! Something went wrong. Please try again later.</div>
                        {% else %}
                        <div class="mt-4">
                            <h3>{{ food.name|capfirst }} has a total of <strong style="color: #c2b3ef;">{{ food.calories|mul:serving_size|div:100|floatformat:1 }} Calories</strong> per {{ serving_size }} grams</h3>

                            {% if food.calories > 250 %}
                            <img src="{% static 'images/shocked.png' %}" class="img-responsive mt-2" style="width: 100px; height: auto;" />
                            {% endif %}

                            {% if food.sodium_mg > 400 %}
                            <div class="alert alert-danger mt-3">
                                This food contains a high amount of sodium. High sodium causes severe dehydration and water retention.
                            </div>
                            {% endif %}

                            {% if food.sugar_g > 30 %}
                            <div class="alert alert-danger mt-3">
                                This food contains a high amount of sugar. Sugary foods cause extreme insulin spikes, leading to weight gain and potential obesity.
                            </div>
                            {% endif %}
                            <div class="row">
                                <!-- Nutritional Values -->
                                <div class="col-md-6 justify-content-left mt-4  ">
                                    <h4 style=" margin-left: 30px;">Nutritional Values</h4>
                                    <ul class="list-unstyled">
                                        <li class="servingsize" style = "list-style: none; 
                                    background-color: #fcacd9; margin-bottom: 20px;
                                    border-radius: 0.575rem; border-color: #ce0f88; padding: 0.5rem 1rem;
                                    padding: 10px;color: #ce0f88; width: 80%;">Based on a Serving of {{serving_size}}g <span class="float-end"></span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Carbohydrates: <span class="float-end">{{food.carbohydrates_total_g|mul:serving_size|div:100|floatformat:1}}</span>
                                    </li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Cholesterol: <span class="float-end">{{food.cholesterol_mg|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Saturated fat: <span class="float-end">{{food.fat_saturated_g|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Total Fat: <span class="float-end">{{food.fat_total_g|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Fiber Content: <span class="float-end">{{food.fiber_g|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Potassium <span class="float-end">{{food.potassium_mg|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Protein: <span class="float-end">{{food.protein_g|mul:serving_size|div:100|floatformat:1}}<span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Sodium:<span class="float-end">{{food.sodium_mg|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    <li style = "list-style: none;
                                    margin-bottom: 20px;
                                    color: #c2b3ef;
                                    border-bottom: 1px solid #741ac9;
                                    width: 80%;">Sugar: <span class="float-end">{{food.sugar_g|mul:serving_size|div:100|floatformat:1}}</span></li>
                                    </ul>
                                </div>
                    
                                <!-- Exercise Suggestions -->
                                <div class="col-md-5 justify-content-right mt-4">
                                    <h4 style="margin-bottom: 30px;">To burn <strong style="color: #c2b3ef;">{{ food.calories|mul:serving_size|div:100|floatformat:1 }}</strong> calories you will need to:</h4>
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{% static 'images/running.png' %}" alt="Jog" style="width: 50px; height: auto;" />
                                        <div class="ms-3">
                                            <h5><strong style="color: #c2b3ef;">Jog</strong></h5>
                                            <p>Jog for <strong>{{ food.calories|mul:serving_size|div:100|floatformat:1 |div:225|mul:60|floatformat:0 }}</strong> minutes</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{% static 'images/yoga.png' %}" alt="Power Yoga" style="width: 50px; height: auto;" />
                                        <div class="ms-3">
                                            <h5><strong style="color: #c2b3ef;">Do Power Yoga</strong></h5>
                                            <p>Power Yoga for <strong>{{ food.calories|mul:serving_size|div:100|floatformat:1 |div:220|mul:60|floatformat:0 }}</strong> minutes</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{% static 'images/weightlifter.png' %}" alt="Workout" style="width: 50px; height: auto;" />
                                        <div class="ms-3">
                                            <h5><strong style="color: #c2b3ef;">Get an Intense Workout</strong></h5>
                                            <p>Lift weights for <strong>{{ food.calories|mul:serving_size|div:100|floatformat:1 |div:480|mul:60|floatformat:0 }}</strong> minutes</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{% static 'images/walking.png' %}" alt="Walk" style="width: 50px; height: auto;" />
                                        <div class="ms-3">
                                            <h5><strong style="color: #c2b3ef;">Go for a Brisk Walk</strong></h5>
                                            <p>Walk briskly for <strong>{{ food.calories|mul:serving_size|div:100|floatformat:1 |div:290|mul:60|floatformat:0 }}</strong> minutes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
